*
!.gitignore
!app.php
!auth.php
!broadcasting.php
!cache.php
!compile.php
!database.php
!extension.php
!filesystems.php
!graphql.php
!image.php
!jwt.php
!mail.php
!module.php
!queue.php
!services.php
!session.php
!view.php
